{% extends 'base.html.twig' %}
{% block title %}Catalogue{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <div class="card">
        <div class="card-body">
            <p>
                Ce site internet est hébergé par Sequiter Inc.

                Ces mentions légales sont applicables à tout contenu disponible sous le nom de domaine www.documentslegaux.fr, y compris tous les sous-domaines et toutes les sous-pages du domaine. Nos pages web vous proposent également des liens vers d'autres sites qui ne nous appartiennent pas. En accédant à un tel autre site, vous acceptez que cet accès s'effectue à vos risques et périls.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti dicta doloremque esse hic, incidunt itaque laboriosam laborum magnam molestias, natus nostrum odio placeat quaerat ratione tenetur ullam voluptate voluptates.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto assumenda delectus dolore doloribus eum, fuga hic laborum molestias, numquam placeat quia quis quisquam repellat voluptatibus? Consectetur, nemo odit. Aspernatur.</p>
        </div>
    </div>
{% endblock %}