{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    <div class="card">
        <div class="card-body">
            {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('app_produit_index') }}">back to list</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
