{% extends 'base.html.twig' %}
{% block title 'Mon compte' %}

{% block body %}
    <h1>Mon compte : mes commandes</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Quantité</th>
                    <th>Montant</th>
                    <th>État</th>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.quantite }} produits</td>
                        <td>{{ commande.montant }} EUR</td>
                        <td>{{ commande.etat | trans }}</td>
                        <td>{{ commande.dateEnregistrement | date }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Aucune commande pour l'instant</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
